{% templatetag openblock %} load compile_static {% templatetag closeblock %}
{% templatetag openblock %} load static {% templatetag closeblock %}
{% templatetag openblock %} load compress {% templatetag closeblock %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">

    <title>{% templatetag openblock %} block page_title {% templatetag closeblock %}{{ _("My Site") }}{% templatetag openblock %} endblock {% templatetag closeblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% templatetag openblock %} compress css {% templatetag closeblock %}
    <link rel="stylesheet" type="text/less" href="{% templatetag openblock %} static 'less/base.less'|compile {% templatetag closeblock %}">
    <link rel="stylesheet" type="text/less" href="{% templatetag openblock %} static 'less/base2.less'|compile {% templatetag closeblock %}">
    {% templatetag openblock %} endcompress {% templatetag closeblock %}

</head>

<body>
  {% templatetag openblock %} block body {% templatetag closeblock %}

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    {% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
  </div>

  {% templatetag openblock %} compress js {% templatetag closeblock %}
  <script src="{% templatetag openblock %} static 'js/app.js' {% templatetag closeblock %}"></script>
  {% templatetag openblock %} endcompress {% templatetag closeblock %}

  <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID -->
  <script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% templatetag openblock %} endblock {% templatetag closeblock %}
</body>
</html>
