{% templatetag openblock %} extends 'base.html' {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
    <p>Welcome, start editing this template in <code>apps/base/templates/base/home.html</code></p>
{% templatetag openblock %} endblock {% templatetag closeblock %}
